altgraph==0.17.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
cryptography==37.0.2
future==0.18.2
idna==3.3
imageio==2.19.0
imageio-ffmpeg==0.4.7
loguru==0.5.3
notify-py==0.3.3
numpy==1.22.3
pefile==2021.9.3
Pillow==9.1.0
pycparser==2.21
pydantic==1.9.0
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyping==0.0.6
pyshortcuts==1.8.2
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
schedule==1.1.0
tkVideo==0.1
typing_extensions==4.2.0
ujson==5.2.0
urllib3==1.26.9
win32-setctime==1.1.0
winshell==0.6
